.header {
    height: 55px;


    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(222, 222, 222);
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 25px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
}

.youtube-logo {
    height: 20px;
    cursor: pointer;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 36px;
    width: 0px;
    padding-left: 10px;
    font-size: 16px;

    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 18px 0px 0px 18px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 15px;
}

.search-button {
    height: 40px;
    width: 65px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    border-radius: 0px 20px 20px 0px;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-icon-container,
.notification-icon-container,
.user-picture-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-icon-container .tooltip,
.notification-icon-container .tooltip,
.user-picture-container .tooltip {
    font-family: Roboto, Arial;
    position: absolute;
    background-color: rgba(117, 117, 117, 0.9);
    color: white;
    padding: 6px 8px 6px 8px;
    font-size: 14px;
    border-radius: 2px;
    bottom: -45px;
    pointer-events: none;
    white-space: nowrap;

    opacity: 0;
    transition: opacity 0.50s;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip,
.user-picture-container:hover .tooltip {
    opacity: 1;
}

.search-icon {
    height: 20px;
}

.voice-search-button {
    height: 40px;
    width: 40px;

    border-radius: 50%;
    border: none;
    background-color: rgb(244, 244, 244);
}

.voice-search-icon {
    height: 24px;
}

.right-section {
    width: 180px;
    margin-right: 20px;

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
}

.upload-icon {
    height: 24px;
}

.youtube-icon {
    height: 24px;
}

.notification-icon {
    height: 24px;
}

.notification-count {
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(213, 0, 0);
    color: white;
    font-family: Roboto, Arial;
    font-size: 10px;
    padding: 2px 5px 2px 5px;
    border-radius: 50%;

}

.channel-user-picture-icon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 0px;

    cursor: pointer
}