.side-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    z-index: 200;
    padding-top: 4px;

    background-color: white;
}

.side-bar-link {
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.side-bar-link:hover {
    background-color: rgb(234, 234, 234);
}

.side-bar-link img {
    height: 26px;
    margin-bottom: 4px;
}

.side-bar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
}