
            .thumbnail {
                width: 100%;
         }
        .video-info-grid {
            display: grid;
            grid-template-columns: 50px 1fr;
        }
        .profile-picture {
            width: 36px;
            border-radius: 50%;
        }

        .profile-picture-container {
            position: relative;
        }
        .profile-picture-container .channel-popup {
            display: flex;
            align-items: center;
            
            position: absolute;
            right: -215px;
            bottom: -85px;

            background: rgb(255, 255, 255);
            border-radius: 5px;
            height: 80px;
            width: 250px;
            box-shadow: 2px 2px 6px gray;
            padding-left: 10px;
            pointer-events: none;

            transition: opacity 0.30s;
            transition-delay: 0s;
            
            z-index: 1;

            opacity: 0;
        }

        .profile-picture-container:hover .channel-popup {
            opacity: 1;
            transition-delay: 0.50s;
        }

        .popup-profile-picture {
            width: 55px;
            border-radius: 50%;
        }

        .popup-channel-name {
            position: absolute;
            left: 75px;
            top: 20px;

            font-family: Roboto, Arial;
            font-weight: 500;
            font-size: 18px;
        }

        .popup-channel-subs {
            position: absolute;
            left: 75px;
            top: 45px;

            font-family: Roboto, Arial;
            color: gray;
        }
        
        .thumbnail-container {
            margin-bottom: 8px;
            position: relative;
        }
        .video-title {
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 10px;
            text-decoration: none;
            color: black;
            font-family: Roboto, Arial;
        }
        .channel-name, .video-stats {
            font-size: 12px;
            color: rgb(96, 96, 96);
            line-height: 15px;
        }
        .video-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 16px;
            row-gap: 40px;
        }

        @media (max-width: 800px) {
            .video-grid {
                grid-template-columns: 1fr;
            }
        }

        @media (min-width: 801px) and (max-width: 1249) {
            .video-grid {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        @media (min-width: 1250px) {
            .video-grid {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
        
        .video-time {
            font-family: arial;
            font-size: 12px;
            font-weight: 500;
            padding: 4px 4px 4px 4px;
            border-radius: 2px;
            background-color: black;
            color: white;
            
            position: absolute;
            bottom: 10px;
            right: 5px;
        }
